/* Main CSS file */

.drop-zone {
  border: 2px dashed #039be5;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
}

.drop-zone span {
  font-weight: bold;
  color: #0a9500;
}

.drop-zone p:last-of-type {
  color: #039be5
}
