/* Main CSS file */

.drop-zone {
  border: 2px dashed #52afee;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
}

.drop-zone span {
  font-weight: bold;
  color: #0cda02;
}

.drop-zone .error {
  color: #fd4d4d;
  font-weight: bold;
}

.drop-zone p:last-of-type {
  color: #52afee
}
