/* Main CSS file */

.drop-zone {
  border: 2px dashed #52afee;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
}

.drop-zone span {
  font-weight: bold;
  color: #0cda02;
}

.drop-zone .error {
  color: #fd4d4d;
  font-weight: bold;
}

.drop-zone p:last-of-type {
  color: #52afee
}

.json-editor textarea {
  outline: rgba(255, 255, 255, 0.29) auto 1px;
}

.json-editor textarea:hover {
  outline: rgba(255, 255, 255, 0.79) auto 1px;
}

.json-editor textarea:focus-visible {
  outline: #52afee auto 1px;
}

.SplitPane .Pane.vertical {
  overflow-y: auto;
}

.SplitPane .Pane.vertical::-webkit-scrollbar {
  width: 10px;
}
.SplitPane .Pane.vertical::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
.SplitPane .Pane.vertical::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 6px;
  border: 2px solid rgba(0,0,0,0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.SplitPane .Pane.vertical::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}
